body,
html,
ul {
  margin: 0;
  padding: 0;
}
#header {
  background-color: rgb(201, 201, 201);
  height: 300px;
  width: 100%;
}
#navigation_wrapper {
  display: flex;
}
#navigation {
  margin-top: 50px;
  margin-left: 150px;

  font-weight: 700;
  font-size: 20px;

  width: 600px;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style: none;
}
#navigation_logo {
  width: 60px;
  height: 60px;

  position: absolute;
  top: 35px;
  left: 50px;

  background-image: url(../img//logo.png);
  background-size: contain;
  background-repeat: no-repeat;

  border-radius: 5px;
}
.navigation_item {
}
.navigation_item_link {
  text-decoration: none;
  color: rgb(57, 57, 57);
}
.navigation_item_link:hover {
  color: rgb(115, 0, 0);
}

#enter_button {
  margin-top: 35px;
  margin-left: 30%;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
#enter_button:hover {
  color: rgb(115, 0, 0);
}
#search_box {
  display: flex;
  justify-content: center;
  margin-top: 165px;
}
#search_box_bar {
  height: 35px;
  width: 600px;
  font-size: 20px;

  padding-left: 15px;
  border: none;
  border-radius: 5px;
}
#search_btn {
  height: 35px;
  width: 35px;
  margin-left: 10px;

  background-image: url(../img/loupe.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;
  border: none;
}
/*-----HEADER------*/

/*-----CONTACTS----*/
#contacts {
  margin-left: 50px;
}
.return_button::before {
  content: "<";
  margin-right: 10px;
}
.return_button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  opacity: 80%;
}
.contacts_title {
  margin-top: 70px;
}

.messangers_box {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.messangers_box_item {
  border: none;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
}
.messangers_box_item_icon {
  background-color: rgb(201, 201, 201);
  height: 200px;
  width: 350px;
  border: none;
  border-radius: 5%;
}
.messanger_box_item_text {
  margin-top: 15px;
  text-align: center;
}

#messangers_box_item_email {
}
#messangers_box_item_email_icon {
}

#messangers_box_item_telegram {
}
#messangers_box_item_telegram_icon {
}

#messangers_box_item_viber {
}
#messangers_box_item_viber_icon {
}

#messangers_box_item_whatsapp {
}
#messangers_box_item_whatsapp_icon {
}

#contacts_contactUsForm {
  background-color: rgb(201, 201, 201);
  border: none;
  border-radius: 10px;

  position: relative;
 
  width: 700px;
  height: 400px;
  margin-left: 30%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.contacts_contactUsForm_title {
  font-size: 20px;
  position: absolute;
  top: 30px;
  left: 40px;
}
.contacts_contactUsForm_inputbox {
  display: flex;
  flex-direction: column;
}
.contacts_contactsUsForm_label{
  position: absolute;
  left: 40px;
  font-size: 18px;

}
.contacts_contactsUsForm_labelinput {
  position: absolute;
  left: 110px;
  border-radius: 5px;
  border: none;
  width: 430px;
  height: 40px;
}

#contacts_contactsusform_label1 {
  top: 100px;
}
#contacts_contactsusform_label2 {
  top: 165px;
}
#contacts_contactsusform_label3 {
  top: 230px;
}

#contacts_contactsUsForm_labelinput1 {
}
#contacts_contactsUsForm_labelinput2 {
}
#contacts_contactsUsForm_labelinput3 {
  font-size: 18px;
  height: 90px;
}

.contactUsForm_button {
  background-color: #fff;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: medium;
  font-size: 20px;

  position: absolute;
  top: 340px;
  left: 290px;
}
/*-----CONTACTS----*/
